@import "../../styles.scss";

.info {
    height: 100vh;
    background-image: linear-gradient(rgba($color-2, .9), rgba($color-2, .9)), url("../../assets/images/offer1.jpg");
    background-size: cover;
    background-position: center;
    position: relative;

    &__center {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__link {
        @include transition;
        color: rgba($color-white, .7);
        font-family: $font-raleway;
        text-decoration: none;
        font-size: 30px;
        display: block;
        font-weight: 100;
        margin-top: 20px;
        padding: 20px 50px;
        text-align: center;
        border-bottom: 1px solid rgba($color-white, .7);

        &:hover,
        &:active {
            color: $color-white;
            border-bottom: 1px solid rgba($color-white, 1);
        }
    }

    &__header {
        font-family: $font-raleway;
        font-weight: 100;
        text-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        color: white;
        letter-spacing: 2px;
        line-height: 2;
        word-spacing: 4px;
        text-align: center;
        font-size: 45px;
    }

    &__wall {
        background-color: $color-2;
        display: flex;
        justify-content: center;
        align-items: center;

        p {
            color: $color-white;
            font-family: $font-raleway;
            text-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
            line-height: 1.7;
            font-size: 15px;
            // margin-top: 25px;
            // padding: 20px;
            text-align: justify;
        }
    }

    &__box {
        max-width: 1140px;
        margin: 0 auto;
        padding: 100px 0;
    }

    &__list {
        list-style: none;
    }

    &__item {

        &:not(:last-child) {
            margin-bottom: 50px;
            border-bottom: 1px solid $color-white;
        }
    }

    &__title {
        font-family: $font-raleway;
        font-weight: 100;
        text-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        color: white;
        line-height: 2;
        text-align: center;
        font-size: 35px;
    }

    &__text {
        color: $color-white;
        font-family: $font-raleway;
        text-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        line-height: 1.7;
        font-size: 15px;
        text-align: justify;
        margin: 50px;
    }

    &__points {
        margin-left: 50px;
    }

    &__h3 {
        font-weight: 100;
        margin: 10px 0;
    }

    &__paragraph {
        margin-left: -50px;
    }

    &__paragraph2 {
        padding: 10px;
    }
}