@import "../../styles.scss";

.social {
    flex-basis: 20%;
    display: flex;
    justify-content: flex-end;

    &__link {

    }

    &__icon {
        font-size: 19px;
        margin: 0 20px;
        color: $color-3;
        cursor: pointer;
        @include transition;

        &:hover,
        &:active {
            color: $color-black;
        }
    }
}