@import "../../styles.scss";

.body {
    padding-top: 150px;

    @include respond(break-l) {
        padding-top: 100px;
    }
    
    @include respond(break-s) {
        padding-top: 50px;
    }
}