@import "../../styles.scss";

.about {
    // overflow: hidden;
    background-image: linear-gradient(to bottom, rgba($color-2, .9), rgba($color-2, .9)), url(../../assets/images/landscape-2.jpg);
    background-image: linear-gradient(rgba($color-2, .9), rgba($color-2, .9)), url("../../assets/images/offer1.jpg");
    background-size: cover;
    background-position: center;
    // background-color: $color-2;;
    position: relative;
    height: 100vh;

    &__xxx {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50%;
    }

    &__yyy {
        display: flex;
        flex-direction: row;
    }

    &__header {
        background-size: cover;
        background-position: top;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__text {
        color: $color-white;
        font-family: $font-raleway;
        text-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        line-height: 1.7;
        font-size: 15px;
        margin-top: 25px;
        padding: 20px;
        text-align: justify;
    }

    &__title {
        font-family: $font-raleway;
        color: $color-white;
        font-weight: 100;
        text-transform: uppercase;
        text-align: center;
        font-size: 40px;
        // width: 50%;
        // line-height: 1.5;
        text-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

        @include respond(break-l) {
            width: 75%;
        }

        @include respond(break-m) {
            width: 100%;
        }

        @include respond(break-s) {
            font-size: 45px;
        }
    }

    &__container {
        padding: 100px 0;
        text-align: center;
    }

    &__studio {
        display: flex;
        flex-direction: row;
        @include box-shadow;

        @include respond(break-l) {
            flex-direction: column;
        }
    }

    &__box {

        &--image {
            width: 50%;

            @include respond(break-xl) {
                width: 40%;
            }

            @include respond(break-l) {
                width: 100%;
            }
        }

        &--text {
            width: 50%;

            @include respond(break-xl) {
                width: 60%;
            }

            @include respond(break-l) {
                width: 100%;
            }
        }
    }

    &__content {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 50px;
        background-color: rgba($color-5, .1);

        @include respond(break-xl) {
            padding: 25px;
        }

        @include respond(break-l) {
            padding: 50px;
            text-align: center;
        }
    }

    &__image {
        width: 100%;
        height: 100%;
    }
}