@import "../../styles.scss";

.home {

    &__header {
        @include box-shadow;
        height: 100vh;
        position: relative;
    }

    &__welcome {
        padding: 50px 0;
    }

    &__container {
        text-align: center;
        padding: 100px 0;
        color: $color-3;
    }

    &__heading {
        font-family: $font-secondary;
        font-weight: 100;
        text-transform: uppercase;

        &--1 {
            font-size: 37px;
            margin-bottom: 75px;

            @include respond(break-l) {
                font-size: 30px;
            }

            @include respond(break-s) {
                font-size: 25px;
            }
        }

        &--2 {
            font-size: 33px;
            margin-bottom: 75px;
        }

        &--3 {
            font-size: 25px;

            @include respond(break-l) {
                margin: 35px 0 25px;
            }
        }
    }

    &__paragraph {
        font-family: $font-primary;
        font-weight: 300;

        &--1 {
            font-size: 20px;

            @include respond(break-l) {
                font-size: 17px;
            }

            @include respond(break-s) {
                font-size: 15px;
            }
        }

        &--2 {
            font-size: 18px;
        }
    }

    &__offer {
        // background-color: rgba($color-4, .1);
        background-color: rgba($color-2, .01);
        color: $color-black;
    }

    &__box {
        @include flex-row;

        &:first-of-type {
            margin-bottom: 70px;
        }

        @include respond(break-l) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__wrap {
        flex-basis: 50%;
        @include flex-col;
        justify-content: space-around;

        &:first-child {
            text-align: right;

            @include respond(break-l) {
                text-align: center;
            }
        }

        &:last-child {
            text-align: left;

            @include respond(break-l) {
                text-align: center;
            }
        }

        @include respond(break-l) {
            order: 2;
            align-items: center;
        }
    }

    &__photo {
        @include box-shadow;
        flex-basis: 50%;
        width: 100px;  

        &:first-child {
            margin-right: 70px;

            @include respond(break-l) {
                margin-right: 0;
            }
        }

        &:last-child {
            margin-left: 70px;

            @include respond(break-l) {
                margin-left: 0;
            }
        }

        @include respond(break-l) {
            order: 1;
            width: 100%;
        }
    }

    &__link {
        @include button-basic($color-1);
        margin-top: 100px;
        text-decoration: none;
    }

    &__gallery {
        @include flex-row;
        flex-wrap: wrap;
    }

    &__img {
        @include transition;
        width: 25%;
        cursor: pointer;
        -webkit-filter: brightness(100%);

        &:hover,
        &:active {
            -webkit-filter: brightness(70%);
        }

        @include respond(break-l) {
            width: 50%;
        }
    }
}