@import "../../styles.scss";

.footer {
    background-image: linear-gradient(to bottom, rgba($color-2, .9), rgba($color-2, .9)), url(../../assets/images/landscape-3.jpg);
    background-position: center;
    background-size: cover;
        font-family: $font-raleway;

    &__container {
        padding: 100px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    &__text {
        color: $color-white;
        font-size: 20px;
    }

    &__signature {
        color: $color-white;
        font-size: 15px;
        // text-transform: uppercase;
        margin-top: 50px;
        text-align: center;
    }
}