@import "../../styles.scss";

.menubar {
    @include box-shadow;
    @include flex-row;
    @include transition;
    justify-content: space-between;
    padding: 0 25px;
    align-items: center;
    position: fixed;
    background-color: $color-white;
    height: 150px;
    width: 100%;
    top: 0;
    z-index: 9000;
    overflow: hidden;

    & button {
        display: none;
    
        @include respond(break-s) {
            z-index: 9500;
            display: block;
            flex-basis: 20%;
            order: 3;
        }
    }

    @include respond(break-xl) {
        padding: 0;
    }

    @include respond(break-l) {
        height: 100px;
    }
    
    @include respond(break-s) {
        height: 50px;
    }

    &__bg {
        height: 50px;
    }

    &__wrap {
        flex-basis: 20%;
        display: flex;
        justify-content: flex-start;
        padding-left: 20px;

        @include respond(break-s) {
            flex-basis: 60%;
            order: 2;
            justify-content: center;
            padding-left: 0;
        }
    }

    &__logo {
        width: 60%;
        height: auto;
        z-index: 9500;

        @include respond(break-l) {
            width: 95%;
        }

        @include respond(break-s) {
            width: 65%;
        }
    }

    &__button {
        @include transition;
        border: none;
        background-color: white;
        font-size: 20px;
        width: 30px;
        height: 30px;
        line-height: 30px;

        &--open {
            color: $color-3
        }
    }
}