@import "../../styles.scss";

.menubar {
    @include box-shadow;
    @include flex-row;
    @include transition;
    justify-content: space-between;
    padding: 0 25px;
    align-items: center;
    position: fixed;
    background-color: $color-white;
    height: 150px;
    width: 100%;
    top: 0;
    z-index: 9000;
    overflow: hidden;

    & button {
        display: none;
    
        @include respond(break-s) {
            z-index: 9500;
            display: block;
            flex-basis: 20%;
            order: 3;
        }
    }

    @include respond(break-xl) {
        padding: 0;
    }

    @include respond(break-l) {
        height: 100px;
    }
    
    @include respond(break-s) {
        height: 50px;
    }

    &__bg {
        height: 5vh;
        height: 50px;
    }

    &__wrap {
        flex-basis: 20%;
        display: flex;
        justify-content: flex-start;

        @include respond(break-s) {
            flex-basis: 60%;
            order: 2;
            justify-content: center;
        }
    }

    &__logo {
        display: flex;
        align-items: center;
        flex-direction: column;
        z-index: 9500;
    }

    &__text {
        font-family: $font-secondary;
        font-weight: 200;
        color: $color-3;
        line-height: 45px;
        margin: 0 20px;

        @include respond(break-xl) {
            font-size: 20px;
            line-height: 30px;
        }

        @include respond(break-m) {
            font-size: 12px;
        }
    }

    &__span {
        color: $color-3;
        font-size: 20px;
        text-transform: uppercase;

        &--off {
            display: none
        }

        @include respond(break-xl) {
            font-size: 15px;
        }

        @include respond(break-m) {
            font-size: 10px;
        }
    
        @include respond(break-s) {
            display: none;
        }
    }

    &__button {
        @include transition;
        border: none;
        background-color: white;
        font-size: 20px;
        width: 30px;
        height: 30px;
        line-height: 30px;

        &--open {
            color: $color-3
        }
    }
}