$color-white: #ffffff;
$color-black: #000000;

// $color-1: #e5d429;
// $color-2: #a0c334;
// $color-3: #5d5d5d;
// $color-4: #f7f7f7;

// $color-2: #DF9CBD;  
// $color-1: #F3CEBD;
// $color-5: #51BFC0;
// $color-6: #BCC67F;
// $color-3: #9A8C86;
// $color-3: #324E5C;

$color-1: #FFB1D6;
$color-2: #30212E;
$color-3: #8B8985;
$color-4: #ABAFAB;
$color-5: #E7C9C6;