//--------------------------------------------FLEX ROW

@mixin flex-row {
    display: flex;
    flex-direction: row;
}

@mixin flex-row-s-col {
    display: flex;
    flex-direction: row;

    @include respond(break-s) {
        flex-direction: column;
    }
}

@mixin flex-row-m-col {
    display: flex;
    flex-direction: row;

    @include respond(break-m) {
        flex-direction: column;
    }
}

@mixin flex-row-justify {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@mixin flex-row-align {
    display: flex;
    flex-direction: row;
    align-items: center;
}

//----------------------------------------------FLEX COL


@mixin flex-col {
    display: flex;
    flex-direction: column;
}

@mixin flex-col-justify {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@mixin flex-col-align {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin flex-col-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

//-------------------------------------------SHADOWS


@mixin box-shadow {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

@mixin box-shadow-up {
    box-shadow: 0 -2px rgba(0,0,0,0.12), 0 -2px 7px rgba(0,0,0,0.24);
}

@mixin box-shadow-low {
    box-shadow: 0 1px 3px rgba(0,0,0,0.02), 0 1px 2px rgba(0,0,0,0.12);
}

//-------------------------------------------TRANSITIONS

@mixin transition {
    transition: all .2s ease-out;
}

//-------------------------------------------BASIC STYLES

@mixin button-basic($selected-color) {
    @include box-shadow;
    @include transition;
    cursor: pointer;
    position: relative;
    border: 1px solid $selected-color;
    background-color: $color-white;
    color: $selected-color;
    font-family: $font-secondary;
    font-size: 18px;
    font-weight: 700;
    padding: 15px 30px;
    text-transform: uppercase;
    display: inline-block !important;
    z-index: 0;
    overflow: hidden;
    backface-visibility: hidden;

    &::after {
        z-index: -1;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 101%;
        width: 0px;
        background-color: $selected-color;
        transition: transform .2s,
                    width .2s cubic-bezier(1,0,0,1) .2s,
                    background-color .1s;
    }

    &:hover,
    &:active {
        color: $color-white;
    }

    &:hover {
        border: 1px solid $selected-color;
    }

    &:active {
        border: 1px solid $selected-color;
    }

    &:hover::after {
        width: 100%;
    }

    &:active::after {
        background-color: $selected-color;
    }
}

@mixin heading {
        font-family: $font-secondary;
        color: $color-2;
        font-weight: 100;
        text-transform: uppercase;
        text-align: center;
        font-size: 37px;
        margin: 75px 0;

        @include respond(break-l) {
            font-size: 30px;
        }

        @include respond(break-m) {
            margin: 75px 0 25px;
        }

        @include respond(break-s) {
            font-size: 25px;
        }
}